{# uploader/templates/uploader/base.html #}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Uploader{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'uploader/css/main.css' %}">
</head>
<body class="govuk-template__body">
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            Data Uploader
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            {% if messages %}
                {% for message in messages %}
                    <div class="govuk-notification-banner govuk-notification-banner--{{ message.tags }}" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                {{ message.tags|capfirst }}
                            </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-notification-banner__heading">
                                {{ message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.4h50.7zM366.8 0l-50.7 32.3v161.4h50.7V0zM483.2 162.4v32.3h-50.7v-32.3h50.7zM309.2 32.3l-50.7-32.3v194.3h50.7V32.3zM255.1 162.4v32.3h-50.7v-32.3h50.7zM204.4 32.3L153.7.1v194.3h50.7V32.3zM153.7 162.4v32.3h-50.7v-32.3h50.7zM103 32.3L52.3.1v194.3h50.7V32.3zM52.3 162.4v32.3H1.6v-32.3h50.7z"/>
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>